body {
    margin: 0;
}

header {
    background-color: #252323;
    margin-bottom: 40px;
}



header h1 {
    color: #F5F1ED;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-family: 'Amatic SC', cursive;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

header nav ul li a {
    color: #F5F1ED;
    text-decoration: none;
    margin: 0 10px;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-weight: bold;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}


form input,
form textarea {
    width: 100%;
    margin-bottom: 10px;
}

#aboutme {
    margin: 0 0 5px 5px;
    border-bottom: 1px solid lightgray;
}

.project-links a,
.social-links a {
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
}

#contact {
    background-color: lightblue;
}

#projects {
    border: 1px solid lightblue;
}

.spacearound .item {
    margin-top: 10px;
    border-top: 1px solid lightblue;
}



@media all and (min-width: 600px) {

    body {
        font-size: 40px;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1 {
        padding-top: 0;
        align-self: center;
    }

    header nav ul li a:hover {
        color: #bdbdbd;
        transform: scale(1.2);      /* transform property not working */
    }

   .group {
       flex-direction: row;
       justify-content: center;
       margin: 0 0 10px 20px;
       padding: 15px;
   }

   .spacearound {
       justify-content: space-around;
   }

   .group form {
       width: 75%;
   }

    .project-links a {
        display: block;
    }


    .projects {
        width: 800px;
    }

    .flex-container {
        flex-direction: row;
    }

    #aboutme {
        margin: 0 0 10px 10px;
    }

    form input,
    form textarea {
    width: 100%;
    margin-bottom: 20px;
}

.social-links a {
    margin-right: 15px;
}

h2 {
    padding-top: 15px;
}

.margin-left {
    margin-left: 15px;
}
}