body {
    margin: 0;
}

header {
    background-color: #252323;
    margin-bottom: 40px;
}

header h1 {
    color: #F5F1ED;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-family: 'Amatic SC', cursive;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

header nav ul li a {
    color: #F5F1ED;
    text-decoration: none;
    margin: 0 10px;
}

@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1 {
        padding-top: 0;
        align-self: center;
    }

    header nav ul li a:hover {
        color: #bdbdbd;
        transform: scale(1.2);      /* transform property not working */
    }
}